.showImages {
  animation: shimmer 2s linear infinite;
  background: linear-gradient(to right, #06488a 8%, #e0e0e0 18%, #f6f7f8 33%);
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
