@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;


button.wallet-adapter-button-trigger, button.loading-spinner{
  background-color: #1a56db;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button.wallet-adapter-button-trigger:hover, button.loading-spinner {
  background-color: #447efa !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #111827;
  /* background-color: #1a56db; */
  opacity: 0.5;
  border-radius: 20px;
}

.bm-menu {
  @apply fixed top-0 right-0 h-full bg-black text-white;
  width: 250px; /* Adjust width as needed */
  padding: 0;
  font-size: 1.15em;
}
.bm-menu a {
  @apply block py-4 px-6;
  color: #fff;
  text-decoration: none;
  @apply hover:text-blue-700;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}
.bm-burger-bars {
  background: #fff;
}