@tailwind base;
@tailwind components;
@tailwind utilities;


button.wallet-adapter-button-trigger, button.loading-spinner{
  background-color: #1a56db;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button.wallet-adapter-button-trigger:hover, button.loading-spinner {
  background-color: #447efa !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #091e4a;
  /* background-color: #1a56db; */
  opacity: 0.5;
  border-radius: 20px;
}